@import 'variables';
@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import 'fontawesome.scss';
@import 'solid.scss';
@import 'bootswatch';

.small-board {
 width:200px;
 margin:10px;
 float:left
}
.small-board a {
 color:white
}
.small-board .black {
 color:black;
 text-shadow:-1px 0 white, 0 1px white, 1px 0 white, 0 -1px white
}
.small-board .white {
 color:white;
 text-shadow:-1px 0 black, 0 1px black, 1px 0 black, 0 -1px black
}
.small-info {
 text-align:center
}
#chess ul {
 list-style:none;
 padding:0px 10px
}
#chess .chess-board {
 width:594px;
 float:left
}
#chess .chess-board .search {
 padding:20px
}
#chess .chess-board input {
 border-radius:3px;
 border:none;
 padding:14px;
 color:white;
 background:#6A6C75;
 width:90%;
 font-size:14px
}
#chess .chess-board .fa-search {
 position:relative;
 left:-25px
}
#chess .chess-board ul {
 padding:20px;
 height:770px;
 list-style:none
}
#chess .chess-board ul li {
 padding-bottom:20px
}
#chess .chess-board img {
 float:left
}
#chess .chess-board .about {
 float:left;
 margin-top:8px
}
#chess .chess-board .about {
 padding-left:8px
}
#chess .chess-board .status {
 color:#92959E
}
#chess #chat-history {
 padding:0px;
 border-bottom:2px solid white;
 overflow-y:scroll;
 height:460px
}
#chess #chat-history .message-data {
 margin-bottom:10px
}
#chess #chat-history .left-message .message-data {
 text-align:left
}
#chess #chat-history .right-message .message-data {
 text-align:right
}
#chess #chat-history .message-data-time {
 color:#a8aab1;
 padding:0px 6px
}
#chess #chat-history .white-message .message-piece {
 font-size:20px;
 color:white;
 padding:0px 6px;
 text-shadow:-1px 0 black, 0 1px black, 1px 0 black, 0 -1px black
}
#chess #chat-history .black-message .message-piece {
 font-size:22px;
 color:black;
 padding:0px 6px
}
#chess #chat-history .white-message .message {
 color:white
}
#chess #chat-history .black-message .message {
 color:black
}
#chess #chat-history .message {
 font-weight:700;
 background:#94C2ED;
 padding:10px 12px;
 line-height:26px;
 font-size:16px;
 border-radius:7px;
 margin-bottom:4px;
 width:90%;
 position:relative
}
#chess #chat-history .message:after {
 bottom:100%;
 left:12%;
 border:solid transparent;
 content:" ";
 height:0;
 width:0;
 position:absolute;
 pointer-events:none;
 border-bottom-color:#94C2ED;
 border-width:10px;
 margin-left:-10px
}
#chess #chat-history .left-message .message {
 text-align:left
}
#chess #chat-history .right-message .message {
 float:right;
 text-align:right
}
#chess #chat-history .right-message .message:after {
 border-bottom-color:#94C2ED;
 left:88%
}
#chess .opponents {
 padding-top:4px;
 font-size:22px
}
#chess .opponents .white i {
 color:white;
 text-shadow:-1px 0 black, 0 1px black, 1px 0 black, 0 -1px black
}
#chess .opponents .black i {
 color:black;
 text-shadow:-1px 0 white, 0 1px white, 1px 0 white, 0 -1px white
}
#chess .chat {
 width:400px;
 height:592px;
 max-height:592px;
 float:left;
 background:#F2F5F8;
 border-top-right-radius:5px;
 border-bottom-right-radius:5px;
 color:#434651
}
#chess .chat .chat-message {
 padding:10px
}
#chess .chat .chat-message textarea {
 width:100%;
 border:none;
 padding:10px 10px;
 font:14px/22px "Lato", Arial, sans-serif;
 border-radius:5px;
 resize:none
}
#chess .chat .chat-message .fa-file-o,
#chess .chat .chat-message .fa-file-image-o {
 font-size:16px;
 color:gray;
 cursor:pointer
}
#chess .chat .chat-message button {
 float:right;
 color:#94C2ED;
 font-size:16px;
 text-transform:uppercase;
 border:none;
 cursor:pointer;
 font-weight:bold;
 background:#F2F5F8
}
#chess .chat .chat-message button:hover {
 color:#75b1e8
}
#chess .online,
#chess .offline,
#chess .me {
 margin-right:3px;
 font-size:10px
}
#chess .online {
 color:#94C2ED
}
#chess .offline {
 color:#E38968
}
#chess .me {
 color:#94C2ED
}
#chess .clearfix:after {
 visibility:hidden;
 display:block;
 font-size:0;
 content:" ";
 clear:both;
 height:0
}