<div class="row">
    <div class="col">
        <h1>Ranking</h1>
    </div>
</div>
<table class="table table-hover">
    <tr class="table-active">
        <td>Jogador</td>
        <td>Numero de vitórias</td>
    </tr>
    {{#each ranking}}
    <tr>
        <td>{{this.name}}</td>
        <td>{{this.wins}}</td>
    </tr>
    {{/each}}
</table>
