<h1>Criar conta</h1>
<p>Deseja criar uma conta? Basta preencher o formulário abaixo</p>

<div class="form-group">
    <label for="exampleInputEmail1">Name</label>
    <input type="text" class="form-control" placeholder="Your name here.">
    
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>

    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">

    <label for="exampleSelect1">Example select</label>
    <select class="form-control" id="exampleSelect1">
        {{#each courses}}
            <option value={{this.id}}>{{this.name}}</option>    
        {{/each}}
    </select>
</div>